name: Unit test on PR

on:
  pull_request:
    branches: [ "main" ]

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'true'

    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'

    - uses: gradle/gradle-build-action@v3

    - run: ./gradlew kd:build

    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Test results
        path: kd/build/reports/tests
